/*.carousel {
    position:absolute;
    top:0;    
}*/
.navbar {
    position:fixed;
    z-index:10000;
    color: #fff !important;
    background-color: transparent !important;
    width:100%;
}
.navbar-nav > li {
	color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}